<style>
  div.item {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: Auto;
}
.H4 {
font-family: Arial, Helvetica, sans-serif;
}
body {
background-color:#ccccff;
}
</style>
